<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>

</head>
<body>
                <div class="container" align="center">
              <form action="/project" method="post" >

              :<input type="text" name="fname"><br><br>
                Lastname:<input type="text" name="lname"><br><br>
                Email:<input type="text" name="email"><br><br>
                Gender:<input type="radio" value="M" name="gender"> Male <input type = "radio" value="F" name="gender">Female<br><br>
                City:<select name="city" >
                 <option value="Pune">Pune</option>
                 <option value="Mumbai">Mumbai</option>
                 <option value="Chennai">Chennai</option>
                 <option value="Nashik">Nashik</option>
              </select>

                State:<select name="State" >
                 <option value="Pune">Maharashtra</option>
                 <option value="Mumbai">Tamilnadu</option>

              </select><br><br>

                Username:<input type="text" name="username"><br><br>
                Password:<input type="text" name="password"><br><br>
                Contact:<input type="text" name="contact"><br><br>
                Contact-Vendor:<input type="text" name="cvendor"><br><br>
                  <input type = "submit">
              </form>
                </div>
</body>
</html>